<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Este es {{perro[0]['nombre']}}!</h1>
<h2>Es un hermosox {{perro[0]['raza']}}!</h2>
<p>Edad: {{perro[0]['edad']}} Peso: {{perro[0]['peso']}} </p>

<h1>Este es {{perro[1]['nombre']}}!</h1>
<h2>Es un hermosox {{perro[1]['raza']}}!</h2>
<p>Edad: {{perro[1]['edad']}} Peso: {{perro[1]['peso']}} </p>

<h1>Este es {{perro[2]['nombre']}}!</h1>
<h2>Es un hermosox {{perro[2]['raza']}}!</h2>
<p>Edad: {{perro[2]['edad']}} Peso: {{perro[2]['peso']}} </p>
    
</body>
</html>